* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 20px;
    padding: 20px;
    
}

h1 {
    text-align: center;
    background-color: lightyellow;
}

.gameboard {
    background-color: lightblue;
    height: 600px;
    width: 600px;
    padding: 2px;

    display: grid;
    grid-template: repeat(10,1fr) / repeat(10,1fr);
    gap: 2px;
}

.cell {
    background-color: white;
}

.occupied {
    background-color: black;
}

.gameboard-container {
    display: flex;
    justify-content: space-evenly;
}