* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 20px;
    padding: 20px;
    
}

h1 {
    text-align: center;
    background-color: lightyellow;
    margin-bottom: 35px;
}

.gameboard {
    background-color: lightblue;
    height: 600px;
    width: 600px;
    padding: 2px;

    display: grid;
    grid-template: repeat(10,1fr) / repeat(10,1fr);
    gap: 2px;
}

.cell {
    background-color: white;
    font-size: 2rem;
    display: grid;
    place-content: center;
}

.blank:hover {
    background-color: rgb(236, 236, 236);
}

.occupied { 
    background-color: black;
}

.missed {
    background-color: rgb(255, 218, 148);
}

.hit {
    background-color: red;
}

.gameboard-container {
    display: grid;
    grid-template: 10fr 1fr / 1fr 1fr;
    place-items: center;
}

.player-name {
    font-size: 1.5rem;
    width: 450px;
    text-align: center;
}

.message-container {
    text-align: center;
    font-size: 1.8rem;
}