* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 20px;
    padding: 20px;
    
}

h1 {
    text-align: center;
    background-color: lightyellow;
}

.gameboard {
    background-color: lightblue;
    height: 600px;
    width: 600px;
}

.gameboard-container {
    display: flex;
    justify-content: space-evenly;
}